In [129]:
import os
import pandas as pd
import numpy as np
import datetime as dt
import sys
import time

import preprocessing
import models
import prediction

from sklearn.model_selection import TimeSeriesSplit

In [16]:
path_data = '/Users/sergigomezpalleja/Downloads/'

In [216]:
train = pd.read_csv(path_data + 'raw_data_master.csv')

In [219]:
train.loc[(train.sales2.isnull()) & (train.date < '2018-01-01')].shape[0] / train.loc[train.date < '2018-01-01'].shape[0]

0.08868243243243243

In [221]:
train.loc[(~train.sales2.isnull()) & (train.date < '2018-01-01') & (train.sales2 == 0.0)]

,Cluster,Brand_Group,Country,date,sales1,sales2,inv1,inv2,inv3,inv4,inv5,inv6,id
169,Cluster 1,Brand Group 12,Country 12,2012-02-01,0.0,0.0,-4.506785,-0.831747,NaN,-0.002598,NaN,NaN,170
174,Cluster 1,Brand Group 12,Country 12,2012-07-01,0.0,0.0,-3.717820,0.300827,NaN,0.000000,NaN,NaN,175
176,Cluster 1,Brand Group 12,Country 12,2012-09-01,0.0,0.0,-4.016025,-0.191202,NaN,0.000000,NaN,NaN,177
178,Cluster 1,Brand Group 12,Country 12,2012-11-01,0.0,0.0,-5.030140,-11.987181,NaN,0.012329,NaN,NaN,179
336,Cluster 1,Brand Group 12,Country 2,2012-01-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,337
337,Cluster 1,Brand Group 12,Country 2,2012-02-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,338
338,Cluster 1,Brand Group 12,Country 2,2012-03-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,339
339,Cluster 1,Brand Group 12,Country 2,2012-04-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,340
340,Cluster 1,Brand Group 12,Country 2,2012-05-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,341
341,Cluster 1,Brand Group 12,Country 2,2012-06-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,342
342,Cluster 1,Brand Group 12,Country 2,2012-07-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,343
343,Cluster 1,Brand Group 12,Country 2,2012-08-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,344
344,Cluster 1,Brand Group 12,Country 2,2012-09-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,345
345,Cluster 1,Brand Group 12,Country 2,2012-10-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,346
346,Cluster 1,Brand Group 12,Country 2,2012-11-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,347
347,Cluster 1,Brand Group 12,Country 2,2012-12-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,348
348,Cluster 1,Brand Group 12,Country 2,2013-01-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,349
349,Cluster 1,Brand Group 12,Country 2,2013-02-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,350
350,Cluster 1,Brand Group 12,Country 2,2013-03-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,351
351,Cluster 1,Brand Group 12,Country 2,2013-04-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,352
352,Cluster 1,Brand Group 12,Country 2,2013-05-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,353
353,Cluster 1,Brand Group 12,Country 2,2013-06-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,354
354,Cluster 1,Brand Group 12,Country 2,2013-07-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,355
355,Cluster 1,Brand Group 12,Country 2,2013-08-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,356
356,Cluster 1,Brand Group 12,Country 2,2013-09-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,357
357,Cluster 1,Brand Group 12,Country 2,2013-10-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,358
358,Cluster 1,Brand Group 12,Country 2,2013-11-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,359
359,Cluster 1,Brand Group 12,Country 2,2013-12-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,360
360,Cluster 1,Brand Group 12,Country 2,2014-01-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,361
361,Cluster 1,Brand Group 12,Country 2,2014-02-01,0.0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,362
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99213,Cluster 9,Brand Group 96,Country 57,2012-10-01,0.0,0.0,0.000000,0.000000,NaN,NaN,NaN,0.000000,99214
99214,Cluster 9,Brand Group 96,Country 57,2012-11-01,0.0,0.0,0.000000,0.000000,NaN,NaN,NaN,0.000000,99215
99215,Cluster 9,Brand Group 96,Country 57,2012-12-01,0.0,0.0,0.000000,0.000000,NaN,NaN,NaN,0.000000,99216
99216,Cluster 9,Brand Group 96,Country 57,2013-01-01,0.0,0.0,0.000000,0.000000,NaN,NaN,NaN,0.000000,99217
99217,Cluster 9,Brand Group 96,Country 57,2013-02-01,0.0,0.0,0.000000,0.000000,NaN,NaN,NaN,0.000000,99218
99218,Cluster 9,Brand Group 96,Country 57,2013-03-01,0.0,0.0,0.000000,-23.389392,NaN,NaN,NaN,0.000000,99219
99219,Cluster 9,Brand Group 96,Country 57,2013-04-01,0.0,0.0,0.000000,0.000000,NaN,NaN,NaN,0.000000,99220
99220,Cluster 9,Brand Group 96,Country 57,2013-05-01,0.0,0.0,-11.694696,-23.389392,NaN,NaN,NaN,-32.160414,99221
99221,Cluster 9,Brand Group 96,Country 57,2013-06-01,0.0,0.0,-11.694696,0.000000,NaN,NaN,NaN,-29.236740,99222
99222,Cluster 9,Brand Group 96,Country 57,2013-07-01,0.0,0.0,-23.389392,-49.702458,NaN,NaN,NaN,-38.007762,99223
99223,Cluster 9,Brand Group 96,Country 57,2013-08-01,0.0,0.0,-24.705045,-102.036223,NaN,NaN,NaN,-32.014230,99224
99224,Cluster 9,Brand Group 96,Country 57,2013-09-01,0.0,0.0,-29.236740,-221.906856,NaN,NaN,NaN,-32.014230,99225
99225,Cluster 9,Brand Group 96,Country 57,2013-10-01,0.0,0.0,-105.252264,-493.077620,NaN,NaN,NaN,-45.463131,99226
99226,Cluster 9,Brand Group 96,Country 57,2013-11-01,0.0,0.0,-118.116429,-382.416559,NaN,NaN,NaN,-40.054334,99227
99227,Cluster 9,Brand Group 96,Country 57,2013-12-01,0.0,0.0,-198.956016,-367.213454,NaN,NaN,NaN,-39.469599,99228
99228,Cluster 9,Brand Group 96,Country 57,2014-01-01,0.0,0.0,-136.827943,-122.648124,NaN,NaN,NaN,-37.569211,99229
99229,Cluster 9,Brand Group 96,Country 57,2014-02-01,0.0,0.0,-93.996119,-152.761966,NaN,NaN,NaN,-37.276843,99230
99230,Cluster 9,Brand Group 96,Country 57,2014-03-01,0.0,0.0,-118.847348,-176.882277,NaN,NaN,NaN,-37.569211,99231
99231,Cluster 9,Brand Group 96,Country 57,2014-04-01,0.0,0.0,-119.432083,-115.631307,NaN,NaN,NaN,-29.821475,99232
99232,Cluster 9,Brand Group 96,Country 57,2014-05-01,0.0,0.0,-140.190168,-147.937904,NaN,NaN,NaN,-47.363519,99233
99233,Cluster 9,Brand Group 96,Country 57,2014-06-01,0.0,0.0,-118.408797,-205.534282,NaN,NaN,NaN,-37.715395,99234
99234,Cluster 9,Brand Group 96,Country 57,2014-07-01,0.0,0.0,-162.702458,-341.338939,NaN,NaN,NaN,-41.369987,99235
99235,Cluster 9,Brand Group 96,Country 57,2014-08-01,0.0,0.0,-138.874515,-22.073739,NaN,NaN,NaN,-54.234153,99236
99236,Cluster 9,Brand Group 96,Country 57,2014-09-01,0.0,0.0,-158.316947,-159.047865,NaN,NaN,NaN,-31.868047,99237
99237,Cluster 9,Brand Group 96,Country 57,2014-10-01,0.0,0.0,-164.749030,-91.364812,NaN,NaN,NaN,-35.084088,99238
99238,Cluster 9,Brand Group 96,Country 57,2014-11-01,0.0,0.0,-214.890039,-145.891332,NaN,NaN,NaN,-52.626132,99239
99239,Cluster 9,Brand Group 96,Country 57,2014-12-01,0.0,0.0,-297.776197,-220.591203,NaN,NaN,NaN,-34.499353,99240
99240,Cluster 9,Brand Group 96,Country 57,2015-01-01,0.0,0.0,-261.230272,-107.883571,NaN,NaN,NaN,-44.586028,99241
99241,Cluster 9,Brand Group 96,Country 57,2015-02-01,0.0,0.0,-242.811125,-185.214748,NaN,NaN,NaN,-49.702458,99242
99244,Cluster 9,Brand Group 96,Country 57,2015-05-01,0.0,0.0,-262.107374,-140.043984,NaN,NaN,NaN,-47.363519,99245

In [40]:
train.shape

(99456, 13)

In [41]:
list(train)

['Cluster',
 'Brand_Group',
 'Country',
 'date',
 'sales1',
 'sales2',
 'inv1',
 'inv2',
 'inv3',
 'inv4',
 'inv5',
 'inv6',
 'id']

In [42]:
train.head(n=1)

,Cluster,Brand_Group,Country,date,sales1,sales2,inv1,inv2,inv3,inv4,inv5,inv6,id
0,Cluster 1,Brand Group 12,Country 10,2012-01-01,44.214973,41.311052,NaN,NaN,0.0,0.0,NaN,NaN,1

In [52]:
df = train.copy()

In [53]:
df['Country'] = df['Country'].str.extract('(\d+)').astype(int)
df['Brand_Group'] = df['Brand_Group'].str.extract('(\d+)').astype(int)
df['Cluster'] = df['Cluster'].str.extract('(\d+)').astype(int)

/Users/sergigomezpalleja/anaconda3/envs/kaggle/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':
/Users/sergigomezpalleja/anaconda3/envs/kaggle/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  from ipykernel import kernelapp as app
/Users/sergigomezpalleja/anaconda3/envs/kaggle/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  app.launch_new_instance()

In [54]:
df.head()

,Cluster,Brand_Group,Country,date,sales1,sales2,inv1,inv2,inv3,inv4,inv5,inv6,id
0,1,12,10,2012-01-01,44.214973,41.311052,NaN,NaN,0.000000,0.000000,NaN,NaN,1
1,1,12,10,2012-02-01,104.918692,95.697737,NaN,NaN,-3.441472,0.000000,NaN,NaN,2
2,1,12,10,2012-03-01,25.813126,21.010914,NaN,NaN,0.000000,0.000000,NaN,NaN,3
3,1,12,10,2012-04-01,21.735670,19.227058,NaN,NaN,0.000000,0.000000,NaN,NaN,4
4,1,12,10,2012-05-01,17.258679,15.390803,NaN,NaN,0.000000,-0.010893,NaN,NaN,5

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99456 entries, 0 to 99455
Data columns (total 13 columns):
Cluster        99456 non-null int64
Brand_Group    99456 non-null int64
Country        99456 non-null int64
date           99456 non-null object
sales1         74520 non-null float64
sales2         77688 non-null float64
inv1           40236 non-null float64
inv2           40488 non-null float64
inv3           13440 non-null float64
inv4           50148 non-null float64
inv5           420 non-null float64
inv6           32844 non-null float64
id             99456 non-null int64
dtypes: float64(8), int64(4), object(1)
memory usage: 9.9+ MB

In [113]:
train = pd.read_csv(path_data + 'train_preprocessed_sergi_1.csv')

In [114]:
df = train.copy()

In [115]:
df['date'] = df['date'].astype('datetime64[ns]')

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99456 entries, 0 to 99455
Data columns (total 13 columns):
Cluster        99456 non-null int64
Brand_Group    99456 non-null int64
Country        99456 non-null int64
date           99456 non-null datetime64[ns]
sales1         74520 non-null float64
sales2         77688 non-null float64
inv1           40236 non-null float64
inv2           40488 non-null float64
inv3           13440 non-null float64
inv4           50148 non-null float64
inv5           420 non-null float64
inv6           32844 non-null float64
id             99456 non-null int64
dtypes: datetime64[ns](1), float64(8), int64(4)
memory usage: 9.9 MB

In [109]:
print("Percentage Missings Inv 1 ", df.loc[df.inv1.isnull()].shape[0]/df.shape[0])
print("Percentage Missings Inv 2 ", df.loc[df.inv2.isnull()].shape[0]/df.shape[0])
print("Percentage Missings Inv 3 ", df.loc[df.inv3.isnull()].shape[0]/df.shape[0])
print("Percentage Missings Inv 4 ", df.loc[df.inv4.isnull()].shape[0]/df.shape[0])
print("Percentage Missings Inv 5 ", df.loc[df.inv5.isnull()].shape[0]/df.shape[0])
print("Percentage Missings Inv 6 ", df.loc[df.inv6.isnull()].shape[0]/df.shape[0])

Percentage Missings Inv 1  0.5954391891891891
Percentage Missings Inv 2  0.5929054054054054
Percentage Missings Inv 3  0.8648648648648649
Percentage Missings Inv 4  0.49577702702702703
Percentage Missings Inv 5  0.995777027027027
Percentage Missings Inv 6  0.6697635135135135

In [119]:
df.loc[(df.inv5.isnull()) & (df.inv5 != 0)]

Empty DataFrame
Columns: [Cluster, Brand_Group, Country, date, sales1, sales2, inv1, inv2, inv3, inv4, inv5, inv6, id]
Index: []

In [117]:
df['inv5'].fillna(value = 0.0, inplace = True)

In [177]:
df = pd.read_csv(path_data + 'train_preprocessed_sergi_1.csv')

In [178]:
df['date'] = df['date'].astype('datetime64[ns]')

In [225]:
train_X = df.loc[df.date < '2018-01-01']

In [227]:
values = train_X.date.values

In [145]:
len(values)

72

In [153]:
tscv = TimeSeriesSplit(n_splits = 5)

In [158]:
# iterating over folds, train model on each, forecast and calculate error
for train, val in tscv.split(values):
    print('Train: %s, Validation: %s' % (len(train), len(val)))
    dates_train = values[train]
    dates_val = values[val]
    #print('Train: %s, Validation: %s' % (dates_train, dates_val))

Train: 12, Validation: 12
Train: 24, Validation: 12
Train: 36, Validation: 12
Train: 48, Validation: 12
Train: 60, Validation: 12

In [171]:
dates_train

array(['2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01',
       '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01',
       '2012-09-01', '2012-10-01', '2012-11-01', '2012-12-01',
       '2013-01-01', '2013-02-01', '2013-03-01', '2013-04-01',
       '2013-05-01', '2013-06-01', '2013-07-01', '2013-08-01',
       '2013-09-01', '2013-10-01', '2013-11-01', '2013-12-01',
       '2014-01-01', '2014-02-01', '2014-03-01', '2014-04-01',
       '2014-05-01', '2014-06-01', '2014-07-01', '2014-08-01',
       '2014-09-01', '2014-10-01', '2014-11-01', '2014-12-01',
       '2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01',
       '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01',
       '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01',
       '2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
       '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
       '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
      dtype=object)

In [179]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

In [182]:
X = df.loc[df.date < '2018-01-01']

In [183]:
train_X = X.loc[X.date < '2017-01-01']
val_X = X.loc[X.date >= '2017-01-01']

In [186]:
train_X.to_csv('/Users/sergigomezpalleja/Downloads/train_X.csv')
val_X.to_csv('/Users/sergigomezpalleja/Downloads/val_X.csv')

In [188]:
del train_X['date']
del train_X['id']

In [ ]:
vars_model = ['Cluster']

In [191]:
params = {

    'walk-forward-cv' : {
        "n_splits" : 5 # sets the number of folds for cross-validation
    },

    'lgb' : {
        "objective" : "regression",
        "metric" : "rmse",
        "num_leaves" : 40,
        "learning_rate" : 0.005,
        "bagging_fraction" : 0.6,
        "feature_fraction" : 0.6,
        "bagging_frequency" : 6,
        "bagging_seed" : 42,
        "verbosity" : -1,
        "seed": 42},

    'vars_model' : ['Cluster', 'Brand_Group', 'Country', 'year', 'month', 'sales1']

}

In [206]:
df = pd.read_csv(path_data + 'pred_lasso_pablo_1.csv')

In [215]:
df

,Unnamed: 0,Cluster,Brand_Group,Country,date,sales1,sales2,inv1,inv2,inv3,inv4,inv5,inv6,id,year,month,y_hat
0,0,1,12,10,2017-01-01,12.712153,11.105362,0.000000,0.000000,0.000000,0.001951,0.0,0.000000,61,2017,1,48.713825
1,1,1,12,10,2017-02-01,13.395923,11.789671,0.000000,0.000000,0.000000,-0.010809,0.0,0.000000,62,2017,2,49.203375
2,2,1,12,10,2017-03-01,13.148651,11.512138,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,63,2017,3,49.026339
3,3,1,12,10,2017-04-01,13.236274,11.552861,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,64,2017,4,49.089073
4,4,1,12,10,2017-05-01,14.359559,12.558873,0.000000,0.000000,0.000000,-0.071319,0.0,0.000000,65,2017,5,49.893297
5,5,1,12,10,2017-06-01,17.348241,15.603540,0.000000,0.000000,-0.723368,-0.011492,0.0,0.000000,66,2017,6,52.033065
6,6,1,12,10,2017-07-01,20.395961,17.916533,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,67,2017,7,54.215101
7,7,1,12,10,2017-08-01,19.321671,17.160415,0.000000,0.000000,0.000000,-0.238904,0.0,0.000000,68,2017,8,53.445955
8,8,1,12,10,2017-09-01,18.769779,16.185335,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,69,2017,9,53.050824
9,9,1,12,10,2017-10-01,18.413925,16.467607,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,70,2017,10,52.796048
10,10,1,12,10,2017-11-01,17.418519,15.335034,0.000000,0.000000,0.000000,-0.010773,0.0,0.000000,71,2017,11,52.083381
11,11,1,12,10,2017-12-01,17.260618,15.295556,0.000000,0.000000,0.000000,-0.000335,0.0,0.000000,72,2017,12,51.970330
12,12,1,12,11,2017-01-01,115.751730,90.555710,-5.198000,0.000000,0.000000,-0.066376,0.0,0.000000,145,2017,1,122.485721
13,13,1,12,11,2017-02-01,126.797420,99.340598,-11.562425,0.000000,0.000000,-0.896578,0.0,0.000000,146,2017,2,130.393959
14,14,1,12,11,2017-03-01,135.123736,105.844610,-9.684424,0.000000,0.000000,-0.496147,0.0,0.000000,147,2017,3,136.355242
15,15,1,12,11,2017-04-01,134.752799,105.483178,-4.943591,0.000000,0.000000,-0.529951,0.0,0.000000,148,2017,4,136.089667
16,16,1,12,11,2017-05-01,130.713420,102.063587,-6.716892,0.000000,0.000000,-0.987637,0.0,0.000000,149,2017,5,133.197646
17,17,1,12,11,2017-06-01,133.812553,104.895195,-8.727814,0.000000,0.000000,-0.557746,0.0,0.000000,150,2017,6,135.416492
18,18,1,12,11,2017-07-01,123.261394,112.852035,-4.522717,0.000000,0.000000,-0.563516,0.0,0.000000,151,2017,7,127.862316
19,19,1,12,11,2017-08-01,98.857595,96.497810,-5.035365,0.000000,0.000000,-0.615335,0.0,0.000000,152,2017,8,110.390249
20,20,1,12,11,2017-09-01,115.996846,113.686236,-4.828163,0.000000,0.000000,-0.617490,0.0,0.000000,153,2017,9,122.661214
21,21,1,12,11,2017-10-01,116.625457,114.005473,-6.346925,0.000000,0.000000,-0.617550,0.0,0.000000,154,2017,10,123.111271
22,22,1,12,11,2017-11-01,117.910460,115.542392,-7.164265,0.000000,0.000000,-0.605113,0.0,0.000000,155,2017,11,124.031279
23,23,1,12,11,2017-12-01,112.932475,110.544979,-5.617190,0.000000,0.000000,-0.588031,0.0,0.000000,156,2017,12,120.467256
24,24,1,12,12,2017-01-01,0.000000,-0.420362,-4.165379,-0.212306,0.000000,0.026598,0.0,0.000000,229,2017,1,39.777006
25,25,1,12,12,2017-02-01,0.000000,0.002071,-4.456641,-0.207901,0.000000,0.002681,0.0,0.000000,230,2017,2,39.773592
26,26,1,12,12,2017-03-01,0.000000,-0.003495,-4.246933,-0.210702,0.000000,0.001544,0.0,0.000000,231,2017,3,39.775763
27,27,1,12,12,2017-04-01,127.086982,94.264420,-5.561791,-0.594651,0.000000,-0.198684,0.0,0.000000,232,2017,4,131.062119
28,28,1,12,12,2017-05-01,0.000000,-0.400240,-4.936352,-0.146708,0.000000,-0.173630,0.0,0.000000,233,2017,5,39.726169
29,29,1,12,12,2017-06-01,27.414410,19.933990,-5.381541,-1.251535,0.000000,-0.175581,0.0,0.000000,234,2017,6,60.209930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14178,14178,9,96,57,2017-07-01,498.924968,498.924968,-103.205692,-34.060802,0.000000,0.000000,0.0,-38.738680,99271,2017,7,423.217896
14179,14179,9,96,57,2017-08-01,523.922380,523.922380,-65.636481,-12.279431,0.000000,0.000000,0.0,-46.778784,99272,2017,8,424.234703
14180,14180,9,96,57,2017-09-01,456.677878,456.677878,-108.029754,-32.160414,0.000000,0.000000,0.0,-37.276843,99273,2017,9,391.498027
14181,14181,9,96,57,2017-10-01,506.818887,506.818887,-131.711514,-35.230272,0.000000,0.000000,0.0,-40.492885,99274,2017,10,429.775925
14182,14182,9,96,57,2017-11-01,567.923674,567.923674,-150.423027,-25.582147,0.000000,0.000000,0.0,-15.056921,99275,2017,11,466.047155
14183,14183,9,96,57,2017-12-01,655.341527,655.341527,-129.957309,-70.899094,0.000000,0.000000,0.0,-44.293661,99276,2017,12,563.754581
14184,14184,9,97,23,2017-01-01,602.666667,556.845361,-61.871707,0.129439,0.000000,0.000000,0.0,-12.167239,99349,2017,1,470.995514
14185,14185,9,97,23,2017-02-01,562.152348,527.074456,-75.462772,-4.918671,0.000000,0.000000,0.0,-11.131730,99350,2017,2,445.901224
14186,14186,9,97,23,2017-03-01,661.561283,614.575029,-65.754868,-37.148912,0.000000,0.000000,0.0,-7.766323,99351,2017,3,542.051730
14187,14187,9,97,23,2017-04-01,610.950745,577.684994,-75.721649,4.142039,0.000000,0.000000,0.0,-12.426117,99352,2017,4,473.816847
14188,14188,9,97,23,2017-05-01,679.035510,630.495991,-74.556701,-4.142039,0.000000,0.000000,0.0,-23.557847,99353,2017,5,528.982650
14189,14189,9,97,23,2017-06-01,649.005727,614.445590,-75.462772,1.423826,0.000000,0.000000,0.0,-29.512027,99354,2017,6,503.169152
14190,14190,9,97,23,2017-07-01,589.981672,545.454754,-85.947308,-54.623139,0.000000,0.000000,0.0,-22.004582,99355,2017,7,504.346100
14191,14191,9,97,23,2017-08-01,719.808706,663.373425,-69.249714,-2.329897,0.000000,0.000000,0.0,-18.380298,99356,2017,8,556.770116
14192,14192,9,97,23,2017-09-01,605.773196,562.540664,-82.323024,-0.906071,0.000000,0.000000,0.0,-20.063001,99357,2017,9,474.022161
14193,14193,9,97,23,2017-10-01,681.624284,641.368843,-75.333333,-6.601375,0.000000,0.000000,0.0,-21.875143,99358,2017,10,532.742052
14194,14194,9,97,23,2017-11-01,670.363116,622.082474,0.000000,-3.624284,0.000000,0.000000,0.0,0.000000,99359,2017,11,522.372337
14195,14195,9,97,23,2017-12-01,646.546392,600.336770,-185.744559,1.941581,0.000000,0.000000,0.0,-42.197022,99360,2017,12,501.007121
14196,14196,9,97,57,2017-01-01,4462.842173,2735.097025,-176.151358,-98.381630,0.000000,0.000000,0.0,-35.961190,99433,2017,1,3311.059510
14197,14197,9,97,57,2017-02-01,4425.857697,2710.099612,-96.627426,-22.073739,0.000000,0.000000,0.0,-39.761966,99434,2017,2,3225.442651
14198,14198,9,97,57,2017-03-01,5315.677878,3332.111255,-195.155239,-117.824062,0.000000,0.000000,0.0,-32.160414,99435,2017,3,3936.720731
14199,14199,9,97,57,2017-04-01,4142.407503,2482.930142,-159.486417,-16.957309,0.000000,0.000000,0.0,-32.452781,99436,2017,4,3018.539368
14200,14200,9,97,57,2017-05-01,5212.326003,3201.130660,-92.388098,-153.200517,0.000000,0.000000,0.0,-38.884864,99437,2017,5,3890.141510
14201,14201,9,97,57,2017-06-01,5365.526520,3341.174644,-191.354463,-39.761966,0.000000,0.000000,0.0,-40.785252,99438,2017,6,3911.913158
14202,14202,9,97,57,2017-07-01,4845.112549,2969.721863,-134.050453,-91.803364,0.000000,0.000000,0.0,-38.300129,99439,2017,7,3579.650554
14203,14203,9,97,57,2017-08-01,5031.350582,3055.970246,-70.899094,-129.957309,0.000000,0.000000,0.0,-46.340233,99440,2017,8,3742.557742
14204,14204,9,97,57,2017-09-01,4829.909444,2971.622251,-127.764554,-92.241915,0.000000,0.000000,0.0,-36.838292,99441,2017,9,3569.105658
14205,14205,9,97,57,2017-10-01,4965.129366,3058.601552,-164.749030,-165.187581,0.000000,0.000000,0.0,-39.908150,99442,2017,10,3722.449183
14206,14206,9,97,57,2017-11-01,5169.201811,3157.860285,-175.712807,-250.558862,0.000000,0.000000,0.0,-14.472186,99443,2017,11,3934.717827
14207,14207,9,97,57,2017-12-01,5024.041397,3028.341527,-157.439845,-210.650712,0.000000,0.000000,0.0,-43.855110,99444,2017,12,3799.860959

In [209]:
df_grouped = df.groupby(['Cluster', 'Brand_Group', 'month']).sum()

In [213]:
df_grouped['error'] = np.abs((df_grouped['y_hat'] - df_grouped['sales2']) / df_grouped['sales2'])

In [214]:
df_grouped

                           Unnamed: 0  Country        sales1       sales2  \
Cluster Brand_Group month
1       12          1            2280      519   1362.014711  1236.757869
                    2            2300      519   1555.539798  1420.957571
                    3            2320      519   1628.574826  1494.614561
                    4            2340      519   1767.163271  1583.525099
                    5            2360      519   1552.139581  1396.117515
                    6            2380      519   1635.863903  1471.551885
                    7            2400      519   1883.170870  1632.173591
                    8            2420      519   1861.185972  1627.574308
                    9            2440      519   1797.430748  1608.715411
                    10           2460      519   1688.206774  1538.061964
                    11           2480      519   1663.868710  1574.399619
                    12           2500      519   1493.894214  1381.174249
        13          1             240       46      8.426173     6.640494
                    2             241       46     11.523210     9.402716
                    3             242       46      7.142716     5.496543
                    4             243       46     17.103457    14.480741
                    5             244       46     10.630370     9.765432
                    6             245       46     13.839012    11.746420
                    7             246       46      8.621481     7.310123
                    8             247       46     11.495309    10.965185
                    9             248       46      6.780000     5.803457
                    10            249       46      7.282222     5.608148
                    11            250       46      8.063457     8.537778
                    12            251       46      7.059012     6.361481
        15          1             252       40    414.952084    88.485065
                    2             253       40    -59.691149  -290.373364
                    3             254       40    537.126948   613.388915
                    4             255       40   -180.614390  -229.544362
                    5             256       40    836.095290   798.197908
                    6             257       40   -163.952482  -193.611296
...                               ...      ...           ...          ...
10      96          7           58968      164   3436.722029  3060.260216
                    8           58974      164   3592.523464  3134.273658
                    9           58980      164   3435.521156  3044.806001
                    10          58986      164   3441.480548  3098.952657
                    11          58992      164   3336.539205  2898.262451
                    12          58998      164   3426.446871  3050.134242
        97          1           59364      164   8845.773092  8073.877095
                    2           59370      164   8126.245614  7424.482365
                    3           59376      164  10136.018635  9119.044687
                    4           59382      164   8354.465131  7522.590331
                    5           59388      164  10212.748096  7379.530109
                    6           59394      164   9916.688705  8645.688944
                    7           59400      164  10202.536835  8752.329033
                    8           59406      164   8505.099438  8454.772732
                    9           59412      164   9163.617266  7912.554906
                    10          59418      164   9215.499841  8071.404733
                    11          59424      164  10328.578197  8315.121657
                    12          59430      164   9526.545740  8296.663202
        98          1            9936       53      0.000000     0.000000
                    2            9937       53      0.000000     0.000000
                    3            9938       53      0.000000     0.000000
                    4            9939       53      0.000000     0.000000
                    5            9940       53      0.000000     0.000000
                    6            9941       53      0.000000     0.000000
                    7            9942       53      0.000000     0.000000
                    8            9943       53      0.000000     0.000000
                    9            9944       53      0.000000     0.000000
                    10           9945       53      0.000000     0.000000
                    11           9946       53      0.000000     0.000000
                    12           9947       53      0.000000     0.000000

                                  inv1        inv2       inv3        inv4  \
Cluster Brand_Group month
1       12          1       -56.340834  -19.403002   0.000000    3.260474
                    2       -70.489574  -49.230093   0.000000   -3.482698
                    3       -74.700480  -69.625553   0.000000   -3.581280
                    4       -60.855556  -15.781623   0.000000   -5.347232
                    5       -64.841708  -50.121144   0.000000   -2.355185
                    6       -74.576936  -83.955812  -0.723368   -2.493721
                    7       -44.930490  -35.640075   0.000000   -5.064685
                    8       -62.859720  -14.570212   0.000000   -7.870745
                    9       -51.410791  -59.887642   0.000000   -4.602779
                    10      -59.831399  -74.566581   0.000000   -5.312834
                    11      -74.761160 -159.979305   0.000000   -8.869773
                    12      -85.856344  -79.781107   0.000000   -4.545745
        13          1         0.000000    0.000000   0.000000    0.000000
                    2         0.000000    0.000000   0.000000    0.000000
                    3         0.000000    0.000000   0.000000    0.000000
                    4         0.000000    0.000000   0.000000    0.000000
                    5         0.000000    0.000000   0.000000    0.000000
                    6         0.000000    0.000000   0.000000    0.000000
                    7         0.000000    0.000000   0.000000    0.000000
                    8         0.000000    0.000000   0.000000    0.000000
                    9         0.000000    0.000000   0.000000    0.000000
                    10        0.000000    0.000000   0.000000    0.000000
                    11        0.000000    0.000000   0.000000    0.000000
                    12        0.000000    0.000000   0.000000    0.000000
        15          1         0.000000   -0.129439   0.000000   -2.710300
                    2        -3.508409    0.000000   0.000000   -2.992641
                    3         0.000000    0.000000   0.000000   -4.715785
                    4         0.000000    0.000000   0.000000   -5.635681
                    5         0.000000    0.000000   0.000000   -1.978981
                    6         0.000000    0.000000   0.000000   -5.113833
...                                ...         ...        ...         ...
10      96          7      -334.920487  -44.638258  -8.154639    0.000000
                    8      -358.468186 -166.105387  -7.119129    0.000000
                    9      -324.906811 -305.332770  -2.459336    0.000000
                    10     -310.166703 -213.055306  -9.190149    0.000000
                    11     -347.120497 -268.798692  -1.423826    0.000000
                    12     -413.500894 -315.088117  -2.847652    0.000000
        97          1      -752.452766 -162.077978  -6.662666  -11.171357
                    2      -733.181892 -164.343019  -8.594511 -106.816148
                    3      -807.058079 -236.830757 -11.079077   -3.110094
                    4      -828.768682 -262.654741  -6.309315  -13.291053
                    5      -832.207858 -221.695751 -21.761199  -34.793648
                    6      -485.065148 -171.319272  -6.380342  -14.212618
                    7      -440.203937 -189.124226  -7.237736  -10.783040
                    8      1038.700044  -75.779239  -6.060173  -13.196579
                    9      -467.439406 -178.175685  -6.306435  -11.569408
                    10     -425.707212 -335.655847 -13.914114  -12.698295
                    11     -416.698332 -416.836958  -9.862572  -12.138719
                    12     -569.066762 -383.430662 -11.383751  -11.721197
        98          1         0.000000    0.000000   0.000000    0.000000
                    2         0.000000    0.000000   0.000000    0.000000
                    3         0.000000    0.000000   0.000000    0.000000
                    4         0.000000    0.000000   0.000000    0.000000
                    5         0.000000    0.000000   0.000000    0.000000
                    6         0.000000    0.000000   0.000000    0.000000
                    7         0.000000    0.000000   0.000000    0.000000
                    8         0.000000    0.000000   0.000000    0.000000
                    9         0.000000    0.000000   0.000000    0.000000
                    10        0.000000    0.000000   0.000000    0.000000
                    11        0.000000    0.000000   0.000000    0.000000
                    12        0.000000    0.000000   0.000000    0.000000

                           inv5        inv6      id   year        y_hat  \
Cluster Brand_Group month
1       12          1       0.0  -15.952645   17180  40340  1782.430317
                    2       0.0  -11.390111   17200  40340  1944.101523
                    3       0.0  -12.750278   17220  40340  2012.197657
                    4       0.0  -17.808518   17240  40340  2069.692703
                    5       0.0  -14.766887   17260  40340  1942.357667
                    6       0.0  -16.345639   17280  40340  2028.522076
                    7       0.0  -18.090863   17300  40340  2168.139172
                    8       0.0  -15.880859   17320  40340  2136.070077
                    9       0.0  -16.020888   17340  40340  2125.544471
                    10      0.0  -14.122412   17360  40340  2058.720790
                    11      0.0  -15.255750   17380  40340  2107.489473
                    12      0.0  -21.671064   17400  40340  1923.642558
        13          1       0.0    0.000000    1741   2017    45.645248
                    2       0.0    0.000000    1742   2017    47.862593
                    3       0.0    0.000000    1743   2017    44.726348
                    4       0.0    0.000000    1744   2017    51.857809
                    5       0.0    0.000000    1745   2017    47.223359
                    6       0.0    0.000000    1746   2017    49.520608
                    7       0.0    0.000000    1747   2017    45.785081
                    8       0.0    0.000000    1748   2017    47.842617
                    9       0.0    0.000000    1749   2017    44.466659
                    10      0.0    0.000000    1750   2017    44.826229
                    11      0.0    0.000000    1751   2017    45.385559
                    12      0.0    0.000000    1752   2017    44.666420
        15          1       0.0    0.000000    1825   2017   336.800591
                    2       0.0    0.000000    1826   2017    -3.123818
                    3       0.0    0.000000    1827   2017   424.172213
                    4       0.0    0.000000    1828   2017   -89.699646
                    5       0.0    0.000000    1829   2017   638.220660
                    6       0.0    0.000000    1830   2017   -77.770438
...                         ...         ...     ...    ...          ...
10      96          7       0.0 -162.699257  412926  12102  2732.813701
                    8       0.0 -155.775245  412932  12102  2938.496169
                    9       0.0 -161.187127  412938  12102  2933.988593
                    10      0.0 -218.969037  412944  12102  2866.741493
                    11      0.0 -121.140242  412950  12102  2834.808374
                    12      0.0 -262.604282  412956  12102  2935.052056
        97          1       0.0 -157.176310  415914  12102  6696.475275
                    2       0.0 -162.899722  415920  12102  6183.079991
                    3       0.0 -185.994661  415926  12102  7678.167845
                    4       0.0 -149.010153  415932  12102  6422.665563
                    5       0.0 -196.915093  415938  12102  7721.373410
                    6       0.0 -178.842349  415944  12102  7470.366568
                    7       0.0 -188.883037  415950  12102  7688.820103
                    8       0.0 -157.780997  415956  12102  6385.687286
                    9       0.0 -193.779358  415962  12102  6936.513505
                    10      0.0 -186.529693  415968  12102  7095.704154
                    11      0.0 -184.830398  415974  12102  7955.534524
                    12      0.0 -287.814529  415980  12102  7355.424436
        98          1       0.0    0.000000   69613   2017    39.612472
                    2       0.0    0.000000   69614   2017    39.612472
                    3       0.0    0.000000   69615   2017    39.612472
                    4       0.0    0.000000   69616   2017    39.612472
                    5       0.0    0.000000   69617   2017    39.612472
                    6       0.0    0.000000   69618   2017    39.612472
                    7       0.0    0.000000   69619   2017    39.612472
                    8       0.0    0.000000   69620   2017    39.612472
                    9       0.0    0.000000   69621   2017    39.612472
                    10      0.0    0.000000   69622   2017    39.612472
                    11      0.0    0.000000   69623   2017    39.612472
                    12      0.0    0.000000   69624   2017    39.612472

                              error
Cluster Brand_Group month
1       12          1      0.441212
                    2      0.368163
                    3      0.346299
                    4      0.307016
                    5      0.391257
                    6      0.378492
                    7      0.328375
                    8      0.312426
                    9      0.321268
                    10     0.338516
                    11     0.338599
                    12     0.392759
        13          1      5.873773
                    2      4.090294
                    3      7.137178
                    4      2.581157
                    5      3.835767
                    6      3.215804
                    7      5.263243
                    8      3.363138
                    9      6.662099
                    10     6.993054
                    11     4.315852
                    12     6.021387
        15          1      2.806299
                    2      0.989242
                    3      0.308478
                    4      0.609227
                    5      0.200423
                    6      0.598317
...                             ...
10      96          7      0.107000
                    8      0.062463
                    9      0.036396
                    10     0.074932
                    11     0.021894
                    12     0.037730
        97          1      0.170600
                    2      0.167204
                    3      0.158007
                    4      0.146216
                    5      0.046323
                    6      0.135943
                    7      0.121512
                    8      0.244724
                    9      0.123354
                    10     0.120884
                    11     0.043245
                    12     0.113448
        98          1           inf
                    2           inf
                    3           inf
                    4           inf
                    5           inf
                    6           inf
                    7           inf
                    8           inf
                    9           inf
                    10          inf
                    11          inf
                    12          inf

[3936 rows x 14 columns]

In [ ]:
def prediction_absolute_prop_error(df):
    
    df_grouped = 
    return np.mean(np.abs((y_true - y_pred) / y_true))

In [285]:
all_val = pd.read_csv('/Users/sergigomezpalleja/Downloads/all_val.csv')

In [288]:
all_val.loc[all_val.sales2 == 0]

       Cluster  Brand_Group  Country  year  month  sales2       y_hat
108          1           12       34  2017      1     0.0   44.602238
109          1           12       34  2017      2     0.0   44.602238
111          1           12       34  2017      4     0.0   44.602238
112          1           12       34  2017      5     0.0   44.602238
119          1           12       34  2017     12     0.0   44.602238
120          1           12       35  2017      1     0.0   44.602238
122          1           12       35  2017      3     0.0   44.602238
123          1           12       35  2017      4     0.0   44.602238
124          1           12       35  2017      5     0.0   44.602238
125          1           12       35  2017      6     0.0   44.602238
126          1           12       35  2017      7     0.0   44.602238
127          1           12       35  2017      8     0.0   44.602238
128          1           12       35  2017      9     0.0   44.602238
129          1           12       35  2017     10     0.0   44.602238
130          1           12       35  2017     11     0.0   44.602238
131          1           12       35  2017     12     0.0   44.602238
132          1           12       36  2017      1     0.0   44.602238
133          1           12       36  2017      2     0.0   44.602238
134          1           12       36  2017      3     0.0   44.602238
135          1           12       36  2017      4     0.0   44.602238
136          1           12       36  2017      5     0.0   44.602238
137          1           12       36  2017      6     0.0   44.602238
138          1           12       36  2017      7     0.0   44.602238
139          1           12       36  2017      8     0.0   44.602238
140          1           12       36  2017      9     0.0   44.602238
180          1           12        5  2017      1     0.0   42.361455
181          1           12        5  2017      2     0.0   42.361455
182          1           12        5  2017      3     0.0   42.361455
183          1           12        5  2017      4     0.0   42.361455
184          1           12        5  2017      5     0.0   42.361455
...        ...          ...      ...   ...    ...     ...         ...
12107        8           63       51  2017     12     0.0  218.568393
12108        8           70       51  2017      1     0.0  242.504703
12109        8           70       51  2017      2     0.0  242.504703
12110        8           70       51  2017      3     0.0  242.504703
12111        8           70       51  2017      4     0.0  242.504703
12112        8           70       51  2017      5     0.0  242.504703
12113        8           70       51  2017      6     0.0  242.504703
12115        8           70       51  2017      8     0.0  237.285081
12116        8           70       51  2017      9     0.0  245.039109
12117        8           70       51  2017     10     0.0  245.039109
12118        8           70       51  2017     11     0.0  245.039109
12336        9           24       23  2017      1     0.0   84.760183
12337        9           24       23  2017      2     0.0   84.760183
12338        9           24       23  2017      3     0.0   87.961729
12339        9           24       23  2017      4     0.0   87.961729
12340        9           24       23  2017      5     0.0   88.171636
12341        9           24       23  2017      6     0.0   88.171636
12342        9           24       23  2017      7     0.0   88.171636
12343        9           24       23  2017      8     0.0   88.171636
12344        9           24       23  2017      9     0.0   88.171636
12345        9           24       23  2017     10     0.0   89.585856
12488        9           38       23  2017      9     0.0   55.732549
12489        9           38       23  2017     10     0.0   57.146769
12697        9           72       57  2017      2     0.0  171.482240
12700        9           72       57  2017      5     0.0  175.921062
12705        9           72       57  2017     10     0.0  177.335281
12775        9           79       23  2017      8     0.0   74.729656
12876        9           92       23  2017      1     0.0   59.968994
12884        9           92       23  2017      9     0.0   63.380447
12901        9           96       23  2017      2     0.0   86.460556

[1620 rows x 7 columns]

In [267]:
df_group1 = df.loc[df['Brand_Group'].isin([51, 73, 90])]
df_group2 = df.loc[df['Brand_Group'].isin([96,97])]
df_group3 = df.loc[~df['Brand_Group'].isin([17, 24, 30, 31, 36, 41, 51, 73, 90, 96, 97])]
df_group_all = df.loc[df['Brand_Group'].isin([17, 24, 30, 31, 36, 41])]

In [268]:
df_group1['Brand_Group'] = 'Brand Group 51, 73, 90'
df_group2['Brand_Group'] = 'Brand Group 96, 97'
df_group3['Brand_Group'] = 'others'
df_group_all['Brand_Group'] = 'Brand Group ' + df_group_all['Brand_Group'].astype(str)

/Users/sergigomezpalleja/anaconda3/envs/kaggle/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/sergigomezpalleja/anaconda3/envs/kaggle/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/sergigomezpalleja/anaconda3/envs/kaggle/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/sergigomezpalleja/anaconda3/envs/kaggle/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [269]:
df_group1_sum = df_group1.groupby(['Cluster', 'month', 'year', 'Brand_Group']).sum().reset_index() 
df_group2_sum = df_group2.groupby(['Cluster', 'month', 'year', 'Brand_Group']).sum().reset_index() 
df_group3_sum = df_group3.groupby(['Cluster', 'month', 'year', 'Brand_Group']).sum().reset_index() 
df_group_all_sum = df_group_all.groupby(['Cluster', 'month', 'year', 'Brand_Group']).sum().reset_index()

In [270]:
vars_to_keep = ['Cluster', 'month', 'year', 'Brand_Group', 'sales2', 'y_hat']
df_group1_sum = df_group1_sum[vars_to_keep]
df_group2_sum = df_group2_sum[vars_to_keep]
df_group3_sum = df_group3_sum[vars_to_keep]
df_group_all_sum = df_group_all_sum[vars_to_keep]

In [275]:
df_all = pd.concat([df_group1_sum, df_group2_sum, df_group3_sum, df_group_all_sum])

In [277]:
df_all['Cluster'] = 'Cluster ' + df_all['Cluster'].astype(str)

In [281]:
df_all['error'] = np.abs(df_all['y_hat'] - df_all['sales2'])*100 / df_all['sales2']

In [283]:
individual_APE = df_all['error'].mean()

In [284]:
individual_APE

48.924871669183396

In [237]:
df_grouped = all_val.groupby(['Cluster', 'Brand_Group', 'month']).sum()

In [ ]:
brand_groups = ['17', '24', '30', '31', '36', '41']
brand_groups_51_73_90 = ['51','73', '90']
brand_groups_96_97 = ['51','73', '90']

In [238]:
df_grouped

                           Country   year       sales2        y_hat
Cluster Brand_Group month
1       12          1          519  40340  1236.757869  9409.705884
                    2          519  40340  1420.957571  9409.705884
                    3          519  40340  1494.614561  9409.705884
                    4          519  40340  1583.525099  9409.705884
                    5          519  40340  1396.117515  9409.705884
                    6          519  40340  1471.551885  9409.705884
                    7          519  40340  1632.173591  9409.705884
                    8          519  40340  1627.574308  9409.705884
                    9          519  40340  1608.715411  9409.705884
                    10         519  40340  1538.061964  9409.705884
                    11         519  40340  1574.399619  9409.705884
                    12         519  40340  1381.174249  9409.705884
        13          1           46   2017     6.640494   470.485294
                    2           46   2017     9.402716   470.485294
                    3           46   2017     5.496543   470.485294
                    4           46   2017    14.480741   470.485294
                    5           46   2017     9.765432   470.485294
                    6           46   2017    11.746420   470.485294
                    7           46   2017     7.310123   470.485294
                    8           46   2017    10.965185   470.485294
                    9           46   2017     5.803457   470.485294
                    10          46   2017     5.608148   470.485294
                    11          46   2017     8.537778   470.485294
                    12          46   2017     6.361481   470.485294
        15          1           40   2017    88.485065   470.485294
                    2           40   2017  -290.373364   470.485294
                    3           40   2017   613.388915   470.485294
                    4           40   2017  -229.544362   470.485294
                    5           40   2017   798.197908   470.485294
                    6           40   2017  -193.611296   470.485294
...                            ...    ...          ...          ...
10      96          7          164  12102  3060.260216  2822.911765
                    8          164  12102  3134.273658  2822.911765
                    9          164  12102  3044.806001  2822.911765
                    10         164  12102  3098.952657  2822.911765
                    11         164  12102  2898.262451  2822.911765
                    12         164  12102  3050.134242  2822.911765
        97          1          164  12102  8073.877095  2822.911765
                    2          164  12102  7424.482365  2822.911765
                    3          164  12102  9119.044687  2822.911765
                    4          164  12102  7522.590331  2822.911765
                    5          164  12102  7379.530109  2822.911765
                    6          164  12102  8645.688944  2822.911765
                    7          164  12102  8752.329033  2822.911765
                    8          164  12102  8454.772732  2822.911765
                    9          164  12102  7912.554906  2822.911765
                    10         164  12102  8071.404733  2822.911765
                    11         164  12102  8315.121657  2822.911765
                    12         164  12102  8296.663202  2822.911765
        98          1           53   2017     0.000000   470.485294
                    2           53   2017     0.000000   470.485294
                    3           53   2017     0.000000   470.485294
                    4           53   2017     0.000000   470.485294
                    5           53   2017     0.000000   470.485294
                    6           53   2017     0.000000   470.485294
                    7           53   2017     0.000000   470.485294
                    8           53   2017     0.000000   470.485294
                    9           53   2017     0.000000   470.485294
                    10          53   2017     0.000000   470.485294
                    11          53   2017     0.000000   470.485294
                    12          53   2017     0.000000   470.485294

[3636 rows x 4 columns]

In [234]:
all_val.y_hat.unique()

array([470.48529422])