In [15]:
import os
import pandas as pd
import numpy as np
import datetime as dt
import sys
import time

import preprocessing
import models
import prediction

In [16]:
path_data = '/Users/sergigomezpalleja/Downloads/'

In [39]:
train = pd.read_csv(path_data + 'raw_data_master.csv')

In [40]:
train.shape

(99456, 13)

In [41]:
list(train)

['Cluster',
 'Brand_Group',
 'Country',
 'date',
 'sales1',
 'sales2',
 'inv1',
 'inv2',
 'inv3',
 'inv4',
 'inv5',
 'inv6',
 'id']

In [42]:
train.head(n=1)

,Cluster,Brand_Group,Country,date,sales1,sales2,inv1,inv2,inv3,inv4,inv5,inv6,id
0,Cluster 1,Brand Group 12,Country 10,2012-01-01,44.214973,41.311052,NaN,NaN,0.0,0.0,NaN,NaN,1

In [52]:
df = train.copy()

In [53]:
df['Country'] = df['Country'].str.extract('(\d+)').astype(int)
df['Brand_Group'] = df['Brand_Group'].str.extract('(\d+)').astype(int)
df['Cluster'] = df['Cluster'].str.extract('(\d+)').astype(int)

/Users/sergigomezpalleja/anaconda3/envs/kaggle/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':
/Users/sergigomezpalleja/anaconda3/envs/kaggle/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  from ipykernel import kernelapp as app
/Users/sergigomezpalleja/anaconda3/envs/kaggle/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  app.launch_new_instance()

In [54]:
df.head()

,Cluster,Brand_Group,Country,date,sales1,sales2,inv1,inv2,inv3,inv4,inv5,inv6,id
0,1,12,10,2012-01-01,44.214973,41.311052,NaN,NaN,0.000000,0.000000,NaN,NaN,1
1,1,12,10,2012-02-01,104.918692,95.697737,NaN,NaN,-3.441472,0.000000,NaN,NaN,2
2,1,12,10,2012-03-01,25.813126,21.010914,NaN,NaN,0.000000,0.000000,NaN,NaN,3
3,1,12,10,2012-04-01,21.735670,19.227058,NaN,NaN,0.000000,0.000000,NaN,NaN,4
4,1,12,10,2012-05-01,17.258679,15.390803,NaN,NaN,0.000000,-0.010893,NaN,NaN,5

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99456 entries, 0 to 99455
Data columns (total 13 columns):
Cluster        99456 non-null int64
Brand_Group    99456 non-null int64
Country        99456 non-null int64
date           99456 non-null object
sales1         74520 non-null float64
sales2         77688 non-null float64
inv1           40236 non-null float64
inv2           40488 non-null float64
inv3           13440 non-null float64
inv4           50148 non-null float64
inv5           420 non-null float64
inv6           32844 non-null float64
id             99456 non-null int64
dtypes: float64(8), int64(4), object(1)
memory usage: 9.9+ MB

In [58]:
train = pd.read_csv(path_data + 'train_preprocessed_sergi_1.csv')

In [59]:
train

,Cluster,Brand_Group,Country,date,sales1,sales2,inv1,inv2,inv3,inv4,inv5,inv6,id
0,1,12,10,2012-01-01,44.214973,41.311052,NaN,NaN,0.000000,0.000000,NaN,NaN,1
1,1,12,10,2012-02-01,104.918692,95.697737,NaN,NaN,-3.441472,0.000000,NaN,NaN,2
2,1,12,10,2012-03-01,25.813126,21.010914,NaN,NaN,0.000000,0.000000,NaN,NaN,3
3,1,12,10,2012-04-01,21.735670,19.227058,NaN,NaN,0.000000,0.000000,NaN,NaN,4
4,1,12,10,2012-05-01,17.258679,15.390803,NaN,NaN,0.000000,-0.010893,NaN,NaN,5
5,1,12,10,2012-06-01,27.474681,24.362597,NaN,NaN,0.000000,0.000000,NaN,NaN,6
6,1,12,10,2012-07-01,27.000009,23.947549,NaN,NaN,0.000000,0.000000,NaN,NaN,7
7,1,12,10,2012-08-01,28.043811,24.619815,NaN,NaN,-0.233350,0.000000,NaN,NaN,8
8,1,12,10,2012-09-01,34.029555,30.235173,NaN,NaN,0.000000,-0.126850,NaN,NaN,9
9,1,12,10,2012-10-01,29.678983,26.345567,NaN,NaN,0.000000,0.000000,NaN,NaN,10
10,1,12,10,2012-11-01,31.118788,27.519941,NaN,NaN,0.000000,-0.009397,NaN,NaN,11
11,1,12,10,2012-12-01,33.033012,28.936978,NaN,NaN,0.000000,-0.143620,NaN,NaN,12
12,1,12,10,2013-01-01,26.686566,23.600313,NaN,NaN,0.000000,0.000000,NaN,NaN,13
13,1,12,10,2013-02-01,39.787264,35.391768,NaN,NaN,0.000000,0.000000,NaN,NaN,14
14,1,12,10,2013-03-01,28.168087,25.226185,NaN,NaN,0.000000,0.000000,NaN,NaN,15
15,1,12,10,2013-04-01,31.111031,30.221144,NaN,NaN,0.000000,0.000000,NaN,NaN,16
16,1,12,10,2013-05-01,54.233368,50.686222,NaN,NaN,0.000000,-0.009744,NaN,NaN,17
17,1,12,10,2013-06-01,0.000000,-2.315961,NaN,NaN,0.000000,0.000000,NaN,NaN,18
18,1,12,10,2013-07-01,32.992205,30.983906,NaN,NaN,0.000000,0.000000,NaN,NaN,19
19,1,12,10,2013-08-01,27.685682,26.017089,NaN,NaN,0.000000,-0.080297,NaN,NaN,20
20,1,12,10,2013-09-01,26.662589,25.174197,NaN,NaN,0.000000,0.000000,NaN,NaN,21
21,1,12,10,2013-10-01,26.573159,24.832576,NaN,NaN,0.000000,0.000000,NaN,NaN,22
22,1,12,10,2013-11-01,25.460923,24.244330,NaN,NaN,0.000000,-0.008631,NaN,NaN,23
23,1,12,10,2013-12-01,25.138490,24.077954,NaN,NaN,0.000000,0.000000,NaN,NaN,24
24,1,12,10,2014-01-01,23.842701,22.840305,NaN,NaN,0.000000,0.000000,NaN,NaN,25
25,1,12,10,2014-02-01,22.307253,18.785113,NaN,NaN,-2.142930,0.000000,NaN,NaN,26
26,1,12,10,2014-03-01,24.192522,23.155376,NaN,NaN,0.000000,-0.007553,NaN,NaN,27
27,1,12,10,2014-04-01,16.197425,15.555994,NaN,NaN,-0.682549,0.000000,NaN,NaN,28
28,1,12,10,2014-05-01,22.193152,20.993652,NaN,NaN,0.000000,-0.006428,NaN,NaN,29
29,1,12,10,2014-06-01,24.623610,23.427833,NaN,NaN,0.000000,0.000000,NaN,NaN,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99426,9,97,57,2016-07-01,4338.732212,2593.298836,-184.045278,-170.450194,NaN,NaN,NaN,-43.562743,99427
99427,9,97,57,2016-08-01,4974.192755,2996.765847,-156.270375,-26.313066,NaN,NaN,NaN,-28.213454,99428
99428,9,97,57,2016-09-01,4738.106080,2824.122898,-127.764554,-91.803364,NaN,NaN,NaN,-37.423027,99429
99429,9,97,57,2016-10-01,4565.170763,2730.419146,-188.138422,-103.205692,NaN,NaN,NaN,-31.868047,99430
99430,9,97,57,2016-11-01,4973.461837,2965.336352,-151.884864,-72.799483,NaN,NaN,NaN,-19.296248,99431
99431,9,97,57,2016-12-01,5198.584735,3119.998706,-122.648124,-51.602846,NaN,NaN,NaN,-80.547219,99432
99432,9,97,57,2017-01-01,4462.842173,2735.097025,-176.151358,-98.381630,NaN,NaN,NaN,-35.961190,99433
99433,9,97,57,2017-02-01,4425.857697,2710.099612,-96.627426,-22.073739,NaN,NaN,NaN,-39.761966,99434
99434,9,97,57,2017-03-01,5315.677878,3332.111255,-195.155239,-117.824062,NaN,NaN,NaN,-32.160414,99435
99435,9,97,57,2017-04-01,4142.407503,2482.930142,-159.486417,-16.957309,NaN,NaN,NaN,-32.452781,99436
99436,9,97,57,2017-05-01,5212.326003,3201.130660,-92.388098,-153.200517,NaN,NaN,NaN,-38.884864,99437
99437,9,97,57,2017-06-01,5365.526520,3341.174644,-191.354463,-39.761966,NaN,NaN,NaN,-40.785252,99438
99438,9,97,57,2017-07-01,4845.112549,2969.721863,-134.050453,-91.803364,NaN,NaN,NaN,-38.300129,99439
99439,9,97,57,2017-08-01,5031.350582,3055.970246,-70.899094,-129.957309,NaN,NaN,NaN,-46.340233,99440
99440,9,97,57,2017-09-01,4829.909444,2971.622251,-127.764554,-92.241915,NaN,NaN,NaN,-36.838292,99441
99441,9,97,57,2017-10-01,4965.129366,3058.601552,-164.749030,-165.187581,NaN,NaN,NaN,-39.908150,99442
99442,9,97,57,2017-11-01,5169.201811,3157.860285,-175.712807,-250.558862,NaN,NaN,NaN,-14.472186,99443
99443,9,97,57,2017-12-01,5024.041397,3028.341527,-157.439845,-210.650712,NaN,NaN,NaN,-43.855110,99444
99444,9,97,57,2018-01-01,NaN,NaN,-118.554981,-61.835705,NaN,NaN,NaN,-31.575679,99445
99445,9,97,57,2018-02-01,NaN,NaN,-166.503234,-55.111255,NaN,NaN,NaN,-48.825356,99446
99446,9,97,57,2018-03-01,NaN,NaN,-115.485123,-72.653299,NaN,NaN,NaN,-77.184994,99447
99447,9,97,57,2018-04-01,NaN,NaN,-141.213454,-104.228978,NaN,NaN,NaN,-33.329884,99448
99448,9,97,57,2018-05-01,NaN,NaN,-116.069858,-85.956016,NaN,NaN,NaN,-45.316947,99449
99449,9,97,57,2018-06-01,NaN,NaN,-152.323415,-148.815006,NaN,NaN,NaN,-49.994825,99450
99450,9,97,57,2018-07-01,NaN,NaN,-121.332471,-219.421734,NaN,NaN,NaN,-39.323415,99451
99451,9,97,57,2018-08-01,NaN,NaN,-142.529107,-119.432083,NaN,NaN,NaN,-42.393273,99452
99452,9,97,57,2018-09-01,NaN,NaN,-127.618370,-64.467012,NaN,NaN,NaN,-62.420440,99453
99453,9,97,57,2018-10-01,NaN,NaN,-127.033635,-159.924968,NaN,NaN,NaN,-67.390686,99454
99454,9,97,57,2018-11-01,NaN,NaN,-122.977640,-60.601915,NaN,NaN,NaN,-34.287335,99455
99455,9,97,57,2018-12-01,NaN,NaN,-133.158997,-124.461778,NaN,NaN,NaN,-34.287335,99456