In [15]:
import os
import pandas as pd
import numpy as np
import datetime as dt
import sys
import time

import preprocessing
import models
import prediction

In [16]:
path_data = '/Users/sergigomezpalleja/Downloads/'

In [22]:
train = pd.read_csv(path_data + 'raw_data.csv')

In [24]:
train.shape

(4228, 123)

In [27]:
list(train)

['Cluster',
 'Brand Group',
 'Country',
 'Function',
 'Jan 2012',
 'Feb 2012',
 'Mar 2012',
 'X__1',
 'Apr 2012',
 'May 2012',
 'Jun 2012',
 'X__2',
 'Jul 2012',
 'Aug 2012',
 'Sep 2012',
 'X__3',
 'Oct 2012',
 'Nov 2012',
 'Dec 2012',
 'X__4',
 'X__5',
 'Jan 2013',
 'Feb 2013',
 'Mar 2013',
 'X__6',
 'Apr 2013',
 'May 2013',
 'Jun 2013',
 'X__7',
 'Jul 2013',
 'Aug 2013',
 'Sep 2013',
 'X__8',
 'Oct 2013',
 'Nov 2013',
 'Dec 2013',
 'X__9',
 'X__10',
 'Jan 2014',
 'Feb 2014',
 'Mar 2014',
 'X__11',
 'Apr 2014',
 'May 2014',
 'Jun 2014',
 'X__12',
 'Jul 2014',
 'Aug 2014',
 'Sep 2014',
 'X__13',
 'Oct 2014',
 'Nov 2014',
 'Dec 2014',
 'X__14',
 'X__15',
 'Jan 2015',
 'Feb 2015',
 'Mar 2015',
 'X__16',
 'Apr 2015',
 'May 2015',
 'Jun 2015',
 'X__17',
 'Jul 2015',
 'Aug 2015',
 'Sep 2015',
 'X__18',
 'Oct 2015',
 'Nov 2015',
 'Dec 2015',
 'X__19',
 'X__20',
 'Jan 2016',
 'Feb 2016',
 'Mar 2016',
 'X__21',
 'Apr 2016',
 'May 2016',
 'Jun 2016',
 'X__22',
 'Jul 2016',
 'Aug 2016',
 'Sep 2016',
 'X__23',
 'Oct 2016',
 'Nov 2016',
 'Dec 2016',
 'X__24',
 'X__25',
 'Jan 2017',
 'Feb 2017',
 'Mar 2017',
 'X__26',
 'Apr 2017',
 'May 2017',
 'Jun 2017',
 'X__27',
 'Jul 2017',
 'Aug 2017',
 'Sep 2017',
 'X__28',
 'Oct 2017',
 'Nov 2017',
 'Dec 2017',
 'X__29',
 'X__30',
 'Jan 2018',
 'Feb 2018',
 'Mar 2018',
 'X__31',
 'Apr 2018',
 'May 2018',
 'Jun 2018',
 'X__32',
 'Jul 2018',
 'Aug 2018',
 'Sep 2018',
 'X__33',
 'Oct 2018',
 'Nov 2018',
 'Dec 2018',
 'X__34',
 'X__35']

In [26]:
train.head(n=1)

,Cluster,Brand Group,Country,Function,Jan 2012,Feb 2012,Mar 2012,X__1,Apr 2012,May 2012,...,X__32,Jul 2018,Aug 2018,Sep 2018,X__33,Oct 2018,Nov 2018,Dec 2018,X__34,X__35
0,Cluster 3,Brand Group 12,Country 19,Sales 1,1861.328751,1995.945017,1998.533792,5855.80756,2019.243986,2425.681558,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df = train.copy()

In [28]:
key_vars= ['Cluster',
 'Brand Group',
 'Country',
 'Function',]

In [30]:
list(df.columns[-50:])

['Feb 2016',
 'Mar 2016',
 'X__21',
 'Apr 2016',
 'May 2016',
 'Jun 2016',
 'X__22',
 'Jul 2016',
 'Aug 2016',
 'Sep 2016',
 'X__23',
 'Oct 2016',
 'Nov 2016',
 'Dec 2016',
 'X__24',
 'X__25',
 'Jan 2017',
 'Feb 2017',
 'Mar 2017',
 'X__26',
 'Apr 2017',
 'May 2017',
 'Jun 2017',
 'X__27',
 'Jul 2017',
 'Aug 2017',
 'Sep 2017',
 'X__28',
 'Oct 2017',
 'Nov 2017',
 'Dec 2017',
 'X__29',
 'X__30',
 'Jan 2018',
 'Feb 2018',
 'Mar 2018',
 'X__31',
 'Apr 2018',
 'May 2018',
 'Jun 2018',
 'X__32',
 'Jul 2018',
 'Aug 2018',
 'Sep 2018',
 'X__33',
 'Oct 2018',
 'Nov 2018',
 'Dec 2018',
 'X__34',
 'X__35']

In [31]:
df = pd.melt(df[list(df.columns[-50:])+ key_vars],
                        id_vars= key_vars, var_name='date', value_name='sales')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211400 entries, 0 to 211399
Data columns (total 6 columns):
Cluster        211400 non-null object
Brand Group    211400 non-null object
Country        211400 non-null object
Function       211400 non-null object
date           211400 non-null object
sales          175462 non-null float64
dtypes: float64(1), object(5)
memory usage: 9.7+ MB

211400